<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" href="../assets/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/main.css/home.css">

    
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="index.html">
        <img src="../assets/images/logo2.png" alt="logo" style="width:100px;" class="rounded-pill" > 
      </a>
      <a class="navbar-brand" href="#">KGL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        
        <ul class="navbar-nav">

          <button type="button" class="btn" id="" >
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          </button>


          <button type="button" class="btn" id="">
            <li class="nav-item">
              <a class="nav-link" href="products.html">Products</a>
            </li>
            </button>

          <button type="button" class="btn" id="">
            <li class="nav-item">
              <a class="nav-link" href="inventory.html">Stock</a>
            </li>
            </button>
          </li>
        </ul>
  
      </div>
    </div>
  </nav>
<main>
  <div class="container mt-3 ">
    
    
  <div class="d-grid gap-3">
    
    <div class="card bg-success text-dark">
      
      <button type="button" class="btn btn-secondary btn-block btn-lg " id="button">
        <a href="login.html " class="text decoration text-decoration-none" style="color:white">Administrator</a>
      </button>
    </div>

    <div class="card bg-success text-dark">
     <button type="button" class="btn btn-secondary  btn-lg" id="button">
      <a href="login.html " class="text decoration text-decoration-none" style="color:white">Manager</a>
    </button>
  </div>

  <div class="card bg-success text-dark">
     <button type="button" class="btn btn-secondary  btn-lg" id="button">
      <a href="login.html " class="text decoration text-decoration-none" style="color:white">Sales Agent</a>
    </button>
  </div>
  </div>
  </div>
  </div>
  
  </main>
  

  <footer>
    <div class="container-fluid">
    <div class="footer-container">

      <div class="footer-section about">
        <h2>About Us</h2>
        <p>Happy Hoe Grocery Ltd. is an umbrella of KGL a leading wholesale store. We pride ourselves on providing fresh and quality grains and cereals to our customers.</p>
      </div>
      <div class="footer-section quick-links">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="index.html">Products</a></li>
          <li><a href="contactus.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p><i class="fas fa-map-marker-alt"></i> 1234 Street,Kampala,Uganda</p>
        <p><i class="fas fa-phone"></i> +256 780730595</p>
        <p><i class="fas fa-envelope"></i> info@happyhoegrocery.com</p>
      </div>
      <div class="footer-section social-media">
        <h2>Follow Us</h2>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f">facebook</i></a>
          <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
          <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
          <a href="#"><i class="fab fa-linkedin-in"></i>linkendin</a>
        </div>
      </div>
      
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Happy Hoe Grocery Ltd. | Designed by ESTER NALUBWAMA</p>
    </div>
    </div>
  </footer>
  
  
  
    
  
  
  
  
    <script src="assets/js/main.js/home.js.js"></script>
    <script src="assets/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>  


  

    
  </body>
</html>
  
    
    