<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>receipt</title>
</head>
<body>
    <form onsubmit="return invoice.print()">
        <!-- (PART A) INVOICE -->
        <div class="header">Invoice</div>
        <div id="inRow">
          <input type="text" id="inNum" placeholder="Invoice Number" required>
          <input type="date" id="inDate" required>
        </div>
        <textarea id="inBill" placeholder="Bill To" required></textarea>
      
        <!-- (PART B) ITEMS -->
        <div class="header">Items</div>
        <div id="itemsList"></div>
        <div id="itemsAdd" class="irow">
          <input type="number" class="qty" min="1" placeholder="Qty">
          <input type="text" class="item" list="itemsData" placeholder="Item Name" onchange="invoice.price(this)">
          <input type="number" class="price" min="0.00" step="0.01" placeholder="Price Each">
          <input type="button" class="action" value="+" onclick="invoice.add(true)">
        </div>
        <datalist id="itemsData"></datalist>
      
        <!-- (PART C) TOTALS -->
        <div class="header">Totals</div>
        <div id="totals">Grand Total: $0.00</div>
      
        <!-- (PART D) CONTROLS -->
        <div id="controls">
          <label id="loader">
            <input type="file" accept=".json" onchange="invoice.load()"> Load
          </label>
          <input type="button" value="Save" onclick="invoice.save()">
          <input type="submit" value="Print">
        </div>
      </form>
      
</body>
</html>



<div class="container-fluid p-5 bg-success text-white">
  <div class="container ">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="container mt-3">
            <h5>Update</h5>

            <form >
                <select class="form-select" id="">
                    <option value="invoice"> Invoice </option>

                    <option value="receipt"> Receipt</option>
                    
                    <option value="Quatation"> Quatation</option>     
                </select>  
            </form>
            
              <button id="add-task-button">+</button> 
              
        </div>
  <div class="container mt-3">
    <h5>Customer</h5>
    <form action="/action_page.php">
        <input type="text" placeholder="Search customer" name="search">
    </form>         

  </div>
  
  
  <div class="container mt-3">
    <h5>Sales Person</h5>
    <form >
        <select class="form-select" id="">
            <option value="sales person"> sales agent</option>

            <option value="sales person"> manager</option>
            
            <option value="sales person"> administrator</option>     
        </select>  
    </form>
    
  
      
  </div>
</div> 
    
<div class="card">
<h3 class="title" style="text-align: center;">RECEIPT</h3>
    <div class="header">Sub-total:</div>
    <div class="header">Tax:</div>
    <div class="header">Discount</div>
    <div id="totals">Grand Total:</div>
  
  
    




      </div>

    </div>

  </div>

</div>


  
</body>
</html>

